<h2>Create an Account</h2>

<%= form_tag '/auth/identity/register' do %>
  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>
  <div class="field">
    <%= label_tag :password_confirmation %><br />
    <%= password_field_tag :password_confirmation %>
  </div>
  <div class="actions">
    <p><%= submit_tag 'Sign Up' %> <%= link_to "Cancel", root_path %></p>
  </div>
<% end %>

